.article {
  width: 1100px;
  margin: 0 auto;
  margin-top: 10px;
}

.chapter {
  padding: 10px;
  margin-bottom: 10px;
}

.minimalInfoAboutCompony {
  display: flex;
}

.logo {
  background: rgba(255, 255, 255, 0.2); /* Полупрозрачный белый фон */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Полупрозрачная граница */
  border-radius: 10px; /* Скругленные углы */
  backdrop-filter: blur(10px); /* Эффект размытия */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень */
  margin-right: 10px;
}

.title {
  font-size: 28px;
  font-family: MA-Bold;
}

.abbName {
  display: block;
  font-size: 18px;
  font-family: MA-Regular;
}

.foundationDate {
  font-size: 18px;
  font-family: MA-Regular;
}

.foundationDate > span {
  font-size: 16px;
  font-family: MA-Bold;
}

.qualityMark {
  background: rgba(255, 255, 255, 0.2); /* Полупрозрачный белый фон */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Полупрозрачная граница */
  border-radius: 10px; /* Скругленные углы */
  backdrop-filter: blur(10px); /* Эффект размытия */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень */
  margin-left: auto;
  margin-right: 0;
}

.video {
  background: rgba(255, 255, 255, 0.2); /* Полупрозрачный белый фон */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Полупрозрачная граница */
  border-radius: 10px; /* Скругленные углы */
  backdrop-filter: blur(10px); /* Эффект размытия */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень */
}

.achievements {
  margin-top: 10px;
}

.achievements > li {
  padding: 5px 10px;
  background-color: aliceblue;
  border-radius: 10px;
}
