<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<httpRuntime executionTimeout="1800" maxRequestLength="2097151" />
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483647" />
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>